@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgcolor);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
}

*::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: rgb(128, 128, 128);
  border-radius: 20px;
  border: unset;
}

:root {
  --bgcolor: #f5f3f3;
  --topbarcolor: #cc2222;
  --topbarcolorhover: hsl(0, 71%, 55%);
  --textColor: #000;
  --secondTextColor: #fff;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: unset;
}
